@model Grocery
@{ 
        ViewBag.Title = "Delete Grocery";
}
<h2> Confirm Deleteion</h2>
<h3> @Model.Name (@Model.UnitPrice)</h3>

<form asp-action="Delete" method="post">
<input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-controller="Home" asp-action="Index"
    class="btn btn-primary">Cancel</a>

</form>